doctype html
html
  head
    meta(property='fb:app_id', content='1700845086856798' )
    meta(property='og:type', content='website'  )
    meta(content='campaignFire' , property='og:title' )
    meta(property='og:site_name', content='https://pumplify.com' )
    meta( content='https://pumplify.com/project/5756b9bfd05fd1e86a27dae9', property='og:url')
    meta(content='this is an app that can make a huge difference.So use this app once' , property='og:description' )
    meta(content='http://pumplify.com/uploads/#{project.image}', property='og:image')
    link(href='/stylesheets/mockup.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
     #backgroundpart.background
      #mockup-bg.mockupbg
        .containerwrapper
          #title-mockup.titlemockup
            #title-head.titlehead
              #header-title.headertitle
                h2#text-title.texttitle Happy Father's Day
          img#hideimage.center.responsive-img(src="../uploads/#{project.data.cover_image}")
          #background-frame.backgroundframe
            #small-frame.smallframe
              p#frame-title.frametitle Select a frame to adorn your sweet memories with your father
              #frame-drag.framedrag
                #left-frame.leftframe
                  img#backgroundleft.imageframe(src="../uploads/#{project.data.background_image.background_image_one}")
                #center-frame.centerframe
                  img#backgroundmiddle.imageframe(src="../uploads/#{project.data.background_image.background_image_two}")
                #right-frame.rightframe
                  img#backgroundright.imageframe(src='../uploads/#{project.data.background_image.background_image_three}')
              p#frame-title.notetitle Note : Please drag the frame and text and set it as per your wish
          .mycanvasdesgin
            canvas#myCanvas(width=810, height='500', style='border:1px solid #d3d3d3;')
          #footer-function.footerfunction
            #uplaod-text.uplaodtext
              #left-uplaod.leftuplaod
                #file.imageuploadbutton
                  label(for='file-input')
                    img.imageupload(src='../images/upload.png')
                  input#file-input(type='file')
                span#imagetitle.imagetitle Upload Photo
              #center-uplaod.centeruplaod
                button#facebook-input.image-button(data-toggle='modal', data-target='#myModal')
                  img.imageupload(src='../images/fbupload.png')
                span#imagetitle.imagetitle Upload From Facebook
              #right-uplaod.rightuplaod
                button#addtext.image-button(data-toggle='modal', data-target='#myEdit')
                 img.imageupload(src='../images/text.png')
                span#imagetitle.imagetitle Add Text
              #submite.submite
                button#save-button.submitbtn Submit 
 #myModal.modal.fade(role='dialog')
  .modal-dialog.facebook-fb
   .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h4.modal-title Facebook Photos
    #facebook-image-holder.modal-body
     p.selectone Select any once of it
    .modal-footer
      button#oksubmit.btn.btn-default(type='button', data-dismiss='modal') Select
      button.btn.btn-default.closefb(type='button', data-dismiss='modal') Close
 #myEdit.modal.fade(role='dialog')
  .modal-dialog
   .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h4.modal-title Summarize your feelings for your father
    .modal-body
      .file-text-Buttons
       textarea#the-textbox.textareapart(rows='5', cols='50', maxlength='120', type='text', placeholder='Add your text...')
       #charNum 
    .modal-footer
      input#textbox-button.btn.btn-default(type='button', value='Submit Text', data-dismiss='modal')
      button.btn.btn-default(type='button', data-dismiss='modal') Close                                                    
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="/lib/facebook_SDK.js")
script(src="/js/facebook_image.js")
script(src="/js/canvas.js")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
