extends layout

block content
  .blockwrapper
    .container
      .row
        if projects
          for project, i in projects
            .col.s12.m6.l3
              .cardproject.hoverable
                a(href='/project/#{project._id}')
                  .cardimage
                    img.responsive-img.responsiveimages-card(src="/uploads/#{project.cover_image ? project.cover_image : 'https://placeholdit.imgix.net/~text?txtsize=33&txt=No%20cover%20image&w=250&h=250'}")
                  .cardcontent
                    span.card-title.activator.grey-text.text-darken-4.truncate.cardtitleT #{project.title}
                    a.dropdown-button.right(href='#', data-activates='dropdown#{i}')
                      i.material-icons more_vert
                    ul.dropdown-content.dropdowncontent(id="dropdown#{i}")
                      li.dropdowncontent-L
                        a.dropdowncontent-A(href='/edit/#{project._id}') Edit
                      li.dropdowncontent-L
                        a.dropdowncontent-A(href='/project/#{project._id}/delete') Delete
        else
          h4 You have no projects, add one!

block floatingAddButton
  a.btn-floating.btn-large.waves-effect.waves-light.red.right.floatingButton(href="/add-project", style='background:#4B4B49 !important;')
    i.material-icons add